
.main-slide-item{
	background-position: center center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.brand-sct-inner ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.brand-sct-inner ul li{
	float: left;
	padding-top: 38px;
	padding-bottom: 138px;
	padding-left: 37px;
	padding-right: 37px;
}
.brand-sct-inner ul li:first-child{
	padding-left: 0;
}
.brand-sct-inner ul li:last-child{
	padding-right: 0;
}

.brand-sct-inner ul li a{
	display: inline-block;
}
.brand-sct-inner ul li a img{
	height: 92px;
}



.tennis-sports-sct-inner{
	padding-bottom: 100px;
}
.tss-video{
	float: left;
	width: 48%;
	position: relative;
}
.tss-desc{
	float: right;
	width: 50%;
	margin-left: 24px;
}

.tss-video img,
.play img{
	display: inline-block;
}
.play{
	position: absolute;
	top: 50%;
	left: 50%;
}

.tss-desc-inner{
	background: #9FD356;
	padding-left: 54px;
	padding-right: 52px;
	padding-bottom: 80px;
	margin-top: 82px;
}
.tss-desc-title h2{
	padding-top: 75px;
	padding-bottom: 28px;
	margin-top: 0;
	font-size: 48px;
	line-height: 53px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.tss-desc-text p{
	padding-bottom: 32px;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.tss-desc-link a{
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border-bottom: 3px solid #fff;
}



.clubs-section{
	background: #F9F9F9;
	padding-bottom: 88px;
}
.clubs-sct-inner{
	padding-top: 75px;
}
.clubs-sct-title h2{
	padding-bottom: 25px;
	font-size: 48px;
	line-height: 53px;
	color: #272626;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.clubs-sct-desc p{
	padding-bottom: 35px;
	font-size: 18px;
	line-height: 28px;
	color: #272626;
	text-align: center;
}

.clubs-sct-des{
	float: left;
	width: 50%;
	background: #438693;
	padding-top: 55px;
	padding-bottom: 40px;
}
.clubs-sct-img{
	float: right;
	width: 50%;
}
.clubs-sct-img-inner{
	margin-left: 24px;
}

.club-sct-desc-title h3{
	margin: 0;
	padding-bottom: 7px;
	font-size: 30px;
	line-height: 33px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.club-sct-desc-text p{
	padding: 0;
	margin: 0;
	padding-bottom: 40px;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.button{
	text-align: center;
}
.button a{
	display: inline-block;
	padding: 20px 48px;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border: 2px solid #fff;
	background: transparent;
}
.clubs-sct-img-inner img{
	display: inline-block;
	height: 840px;
}



.ups-section{
	background: url('../images/ups-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 55px;
	padding-bottom: 68px;
}
.ups-sct-inner ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.ups-sct-inner ul li{
	float: left;
	width: 33.3333%;
}

.ups-sct-wrap{
	text-align: center;
}
.ups-sct-wrap img{
	display: inline-block;
}
.ups-sct-wrap h3{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 30px;
	line-height: 33px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.ups-sct-wrap p{
	margin: 0;
	font-size: 18px;
	color: #fff;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
	padding-bottom: 22px;
}
.ups-sct-wrap a{
	display: inline-block;
	font-size: 16px;
	color: #9FD356;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}




.sports-sct-inner{
	padding-bottom: 95px;
}
.sports-sct-title h2{
	margin: 0;
	padding-top: 95px;
	font-size: 48px;
	line-height: 53px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.sports-sct-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.sports-sct-item ul li{
	display: inline-block;
	padding-right: 32px;
	padding-left: 32px;
	padding-top: 42px;
	padding-bottom: 65px;
}
.sports-sct-item ul li:first-child{
	padding-left: 0;
}
.sports-sct-item ul li a{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #C4C4C4;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}


.sports-sct-desc{
	float: left;
	width: 32%;
	position: absolute;
	left: 75px;
	z-index: 2;
}
.sports-sct-img{
	float: right;
	width: 68%;
}

.sports-sct-desc-inner{
	background: #F9F9F9;
	margin-top: 95px;
	padding-bottom: 110px;
}
.sports-sct-desc-title h2{
	margin: 0;
	padding-top: 90px;
	padding-bottom: 42px;
	font-size: 48px;
	line-height: 53px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.sports-sct-desc-text p{
	margin: 0;
	padding-bottom: 43px;
	font-size: 18px;
	line-height: 28px;
	color: #272626;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.sports-sct-desc-link a{
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	color: #438693;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border-bottom: 3px solid #438693;
}

.sports-sct-img img{
	display: inline-block;
}
.sports-sct-img{
	position: relative;
}


.hdr-news-section{
	background: #F9F9F9;
}
.hdr-news-sct-title h2{
	margin: 0;
	padding-top: 92px;
	padding-bottom: 32px;
	text-align: center;
	font-size: 48px;
	color: #272626;
	line-height: 53px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.hdr-news-sct-desc p{
	margin: 0;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	text-align: center;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
	padding-bottom: 52px;
}

.hdr-news-sct-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: -10px;
	padding-right: -10px;
}
.hdr-news-sct-item ul li{
	float: left;
	width: 33.3333%;
	padding-left: 10px;
	padding-right: 10px;
}
.hdr-news-sct-item ul li:first-child{
	padding-left: 0;
}
.hdr-news-sct-item ul li:last-child{
	padding-right: 0;
}

.news-sct-wrap{
	padding-bottom: 47px;
	background: #fff;
}
.news-sct-img img{
	display: inline-block;
	height: 320px;
}
.news-sct-title h4{
	margin: 0;
	padding-left: 50px;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 24px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}


.news-sct-desc p{
	text-align: left;
	padding-bottom: 30px;
	padding-left: 50px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.news-sct-link a{
	display: inline-block;
	margin-left: 50px;
	font-size: 16px;
	color: #438693;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border-bottom: 3px solid #438693;
}

.hdr-news-button{
	text-align: center;
	padding-bottom: 98px;
	padding-top: 55px;
}
.hdr-news-button a{
	display: inline-block;
	padding: 22px 50px;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	background: #438693;
	border: 1px solid #438693;
}


.partner-sct-inner ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.partner-sct-inner ul li{
	float: left;
	padding-top: 64px;
	padding-bottom: 60px;
	padding-left: 37px;
	padding-right: 37px;
}
.partner-sct-inner ul li:first-child{
	padding-left: 0;
}
.partner-sct-inner ul li:last-child{
	padding-right: 0;
}

.partner-sct-inner ul li a{
	display: inline-block;
}
.partner-sct-inner ul li a img{
	height: 92px;
}




.cookie-messege-inner{
	padding: 35px 30px 30px 30px;
	background: #9FD356;
	width: 330px;
	text-align: center;
}
.cookie-messege-title h4{
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 22px;
}
.cookie-messege-desc p{
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	margin: 0;
	padding-bottom: 20px;
}
.cookie-messege-link{
	padding-bottom: 28px;
}
.cookie-messege-link a{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	padding-right: 35px;
	background: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
}
.cookie-messege-button button{
	font-size: 18px;
	color: #fff;
	padding: 15px 38px;
	border: 2px solid #fff;
	background: transparent;
}

.cookie-messege-section{
	position: absolute;
	bottom: 105px;
	right: 100px;
	z-index: 4;
}