
.news-section-wrap{
	background: #F9F9F9;
	padding-top: 65px;
}
.news-sct-title h2{
	text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: 32px;
	font-size: 48px;
	line-height: 53px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.news-sct-desc p{
	margin-bottom: 0;
	padding-bottom: 52px;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #272626;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}


.news-sct-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: -10px;
	padding-right: -10px;
	padding-bottom: 45px;
}
.news-sct-item ul li{
	float: left;
	width: 33.3333%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 60px;
}
.news-sct-item ul li:first-child{
	padding-left: 0;
}
.news-sct-item ul li:last-child{
	padding-right: 0;
}

.news-sct-item-inner{
	padding-bottom: 47px;
	background: #fff;
}
.news-sct-item-img img{
	display: inline-block;
	height: 320px;
}
.news-sct-item-title h4{
	margin: 0;
	padding-left: 50px;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 24px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}


.news-sct-item-desc p{
	margin: 0;
	text-align: left;
	padding-bottom: 30px;
	padding-left: 50px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.news-sct-item-link a{
	display: inline-block;
	margin-left: 50px;
	font-size: 16px;
	color: #9FD356;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	border-bottom: 3px solid #9FD356;
}



.partner-sct ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.partner-sct ul li{
	display: inline-block;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 32px;
	padding-bottom: 32px;
}
.partner-sct ul li:first-child{
	padding-left: 62px;
}
.partner-sct ul li:last-child{
	padding-right: 80px;
	padding-left: 35px;
}
.partner-sct ul li a{
	display: inline-block;
}


.no-slider-wrap{
	text-align: center;
	margin-bottom: 95px;
}
.no-slider-wrap span{
	display: inline-block;
	padding-left: 17px;
	padding-right: 17px;
}
.no-slider-wrap span.dot{
	font-size: 16px;
	color: #474747;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
