



.banner-sct-title h1{
	margin: 0;
	padding-bottom: 42px;
	color: #fff;
	font-size: 80px;
	line-height: 78px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}

.banner-dropdown{
	padding-bottom: 50px;
}
.banner-dropdown ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 158px;
	position: relative;
}
.banner-dropdown ul:before{
	content: "";
	height: 6px;
	width: 116px;
	position: absolute;
	background: #fff;
	top: 70%;
	left: 0;
	margin-top: -3px;
	transform: translateY(-70%);
	-moz-transform: translateY(-70%);
	-webkit-transform: translateY(-70%);
}
.banner-dropdown ul li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 12px;
	background: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: left center;
}
.banner-dropdown ul li:first-child{
	background: none;
}

.banner-dropdown ul li:first-child:before{
	content: none;
}
.banner-dropdown ul li:first-child{
	padding-left: 0;
}

.banner-dropdown ul li a{
	display: inline-block;
	font-size: 22px;
	color: #fff;
	line-height: 32px;
	letter-spacing: 0.03em;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.news-Praesent-section,
.news-Praesent-middle-section{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
	padding-top: 75px;
}
.prsnt-btm-sct-innner,
.news-socila-media-section{
	max-width: 935px;
	width: 100%;
	margin: 0 auto;
}

.nps-title h2{
	margin: 0;
	font-size: 48px;
	line-height: 53px;
	color: #272626;
	text-transform: uppercase;
	padding-bottom: 22px;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.calender-left-sct{
	float: left;
}
.calender-right-sct{
	float: right;
}
.calender-left-sct img{
	display: inline-block;
}
.calender-left-sct span{
	display: inline-block;
	padding-left: 10px;
	font-size: 16px;
	color: #C4C4C4;
	line-height: 21px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.calender-right-sct span,
.calender-right-sct ul{
	display: inline-block;
}
.calender-right-sct span{
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.calender-right-sct ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.calender-right-sct ul li{
	display: inline-block;
	padding-left: 10px;
}
.calender-right-sct ul li a{
	display: inline-block;
}
.calender-right-sct ul li a i{
	color: #000000;
}
.calender-sct{
	padding-bottom: 28px;
}
.np-sct-img{
	display: inline-block;
	height: 422px;
	max-width: 905px;
	width: 100%;
	background: url(../images/image-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.nps-text p{
	padding-top: 35px;
	padding-bottom: 38px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.nps-item ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 22px;
}
.nps-item ul li{
	padding-left: 28px;
	background: url('../images/right-arrow.png');
	background-repeat: no-repeat;
	background-position: 0 8px;
}

.nps-item ul li span{
	display: inline-block;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
	padding-bottom: 10px;
}

.nps-img-bottom ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: -10px;
	padding-right: -10px;
}
.nps-img-bottom ul li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.nps-img-bottom ul li:first-child{
	padding-left: 0;
}
.nps-img-bottom ul li:last-child{
	padding-right: 0;
}
.nps-img-bottom ul li img{
	display: inline-block;
}




.npms-title h3{
	margin: 0;
	padding-bottom: 25px;
	font-size: 30px;
	color: #272626;
	line-height: 33px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}

.npms-text p{
	padding-bottom: 30px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.npms-racket-img{
	float: left;
	width: 50%;
}
.npms-racket-desc{
	float: right;
	width: 50%;
	padding-top: 55px;
}

.npms-racket-img{
	display: inline-block;
	height: 320px;
	max-width: 440px;
	width: 100%;
	background: url(../images/image-9.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.npms-racket-desc p{
	margin: 0;
	padding-bottom: 35px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.npms-desc p.text{
	margin: 0;
	padding-bottom: 55px;
	padding-top: 32px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.npms-tennis-title{
	float: left;
	width: 50%;
}
.npms-tennis-img{
	float: right;
	width: 50%;
}
.npms-tennis-title h3{
	margin: 0;
	padding: 0;
	padding-top: 100px;
	padding-right: 18px;
	font-size: 36px;
	color: #767676;
	line-height: 55px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
	background: url('../images/blackquot.png');
	background-repeat: no-repeat;
	background-position: 0 30px;
}

.npms-tennis-img{
	display: inline-block;
	max-width: 440px;
	width: 100%;
	height: 320px;
	background: url(../images/image-10.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.npms-cnt{
	padding-top: 50px;
	padding-bottom: 35px;
}
.npms-cnt-desc p{
	margin: 0;
	padding-bottom: 35px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.npms-cnt-item ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 25px;
}
.npms-cnt-item ul li{
	padding-bottom: 10px;
}
.npms-cnt-item ul li strong{
	display: inline-block;
	color: #9fd355;
}
.npms-cnt-item ul li span{
	display: inline-block;
	padding-left: 15px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}


.prsnt-btm-sct-title h3{
	margin: 0;
	padding-bottom: 32px;
	font-size: 24px;
	color: #272626;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.prsnt-btm-sct-desc p{
	margin: 0;
	padding-bottom: 35px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.prsnt-btm-about-img{
	float: left;
	width: 50%;
}
.prsnt-btm-about-text{
	float: right;
	width: 50%;
	background: #9FD356;
	padding-left: 37px;
	padding-right: 37px;
}
.prsnt-btm-about-img{
	display: inline-block;
	height: 430px;
	max-width: 440px;
	width: 100%;
	background: url(../images/image-11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.prsnt-btm-about-text h2{
	margin: 0;
	padding-top: 82px;
	padding-bottom: 32px;
	font-size: 48px;
	color: #fff;
	line-height: 53px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.prsnt-btm-about-text p{
	margin: 0;
	padding-bottom: 78px;
	font-size: 18px;
	color: #fff;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.prsnt-btm-about-sct{
	padding-bottom: 65px;
}

.prsnt-btm-clubs-sct{
	padding-bottom: 45px;
	padding-top: 55px;
	text-align: center;
	background: #438693;
	margin-bottom: 88px;
}
.prsnt-btm-clubs-title h3{
	margin: 0;
	padding-bottom: 15px;
	font-size: 30px;
	color: #fff;
	line-height: 33px;
	text-transform: uppercase;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}
.prsnt-btm-clubs-desc p{
	margin: 0;
	padding-bottom: 25px;
	font-size: 18px;
	color: #fff;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.prsnt-btm-clubs-button a{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	line-height: 24px;
	text-transform: uppercase;
	padding: 20px 48px;
	border: 2px solid #fff;
	background: transparent;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}

.prsnt-btm-about-bottom-desc{
	float: left;
	width: 50%;
}
.prsnt-btm-about-bottom-img{
	float: right;
	width: 50%;
}
.prsnt-btm-about-bottom-sct{
	padding-bottom: 84px;
}
.prsnt-btm-about-bottom-desc p{
	margin: 0;
	padding-bottom: 36px;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.prsnt-btm-about-bottom-desc span{
	display: inline-block;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.prsnt-btm-about-bottom-img{
	text-align: right;
	height: 560px;
	max-width: 440px;
	width: 100%;
	background: url(../images/image-12.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.prsnt-btm-blockquot-sct{
	margin-bottom: 68px;
	border: 4px solid #9FD356;
}
.prsnt-btm-blockquot-desc{
	padding: 68px 106px 50px 168px;
	background: url('../images/blackquot.png');
	background-repeat: no-repeat;
	background-position: 70px 78px;
}
.prsnt-btm-blockquot-desc h3{
	margin: 0;
	font-size: 36px;
	color: #767676;
	line-height: 54px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}

.prsnt-btm-desc-sct{
	padding-bottom: 60px;
}
.prsnt-btm-desc-sct p{
	margin: 0;
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}


.nsms-inner{
	padding-top: 50px;
	padding-bottom: 52px;
}
.nsms-desc,
.nsms-img{
	display: inline-block;
}

.nsms-desc span{
	font-size: 18px;
	color: #272626;
	line-height: 28px;
	font-family: 'Assistant', sans-serif;
	font-weight: normal;
}
.nsms-img ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nsms-img ul li{
	display: inline-block;
	padding-left: 10px;
}
.nsms-img ul li a{
	display: inline-block;
}
.nsms-img ul li a i{
	color: #000000;
}

.news-socila-media-section{
	border-bottom: 3px solid #f9f9f9;
}


